<%= form_with model: @post, local: true do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "input" %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "textarea" %>
  </p>

  <p>
    <%= form.submit class: "button is-primary"%>
  </p>

<% end %>
