<!DOCTYPE html>
<html>
  <head>
    <title>BruisedThumb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@danclark" />
    <meta name="twitter:title" content= <%= @twitter_title || "BruisedThumb" %>>
    <meta name="twitter:description" content= <%= @twitter_description || "Learnings through experience" %>>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1 class="title">BruisedThumb</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarItems">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarItems" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Home", root_path, class: "navbar-item" %>
          <%= link_to "Posts", posts_path, class: "navbar-item" %>
          <% if is_bruised_thumb?%>
            <%= link_to "New Post", new_post_path, class: "navbar-item" %>
          <% end %>
          <a class="navbar-item">
            About
          </a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <% if is_bruised_thumb?%>
            <div class="buttons">
              <%= link_to "Log out", log_out_path, class: "button is-light" %>
            </div>
          <% else %>
            <div class="buttons">
              <%= link_to "Log in", log_in_path, class: "button is-primary" %>
            </div>
        <% end %>
        </div>
      </div>
    </nav>

    <% if flash.count > 0%>
      <div class="container">
        <div class="notification is-warning">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
